<h1>Mi Carrito</h1>
<div class="cart-container" data-cart-id="{{cart._id}}">
    {{#if cart}}
        <button id="emptyCartBtn" data-cart-id="{{cart._id}}">Vaciar Carrito</button>
        <ul>
            {{#each cart.products}}
                <li>
                    {{this.product.title}} - Cantidad: {{this.quantity}}
                    <button class="remove-product-btn" data-product-id="{{this.product._id}}">Eliminar</button>
                </li>
            {{/each}}
        </ul>
    {{else}}
        <p>Tu carrito está vacío.</p>
    {{/if}}
</div>

<script src="/js/cart.js"></script>